* {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Mute icon style*/
#muteBtnImage {
    position: fixed;
    bottom: 8px;
    left: 16px;
    width: 3.5%;
    cursor: pointer;
}

/* Styles the instructions */
#instructions {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    position: relative;
    top: 160px;
    font-size: 45px;
}

/* Styles the text counter */
#txtCounter {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    position: relative;
    top: 200px;
    font-size: 40px;
}

/* Sets Gawr Gura plushie position */
#GawrGura {
    position: relative;
    display: block;
    transform: translate(-50%, 55%);
    left: 50%;
    top: 50%;
    cursor: pointer;
}

/* It's Gura Dancin! (default transparency is 0) */
#DancinGura {
    position: absolute;
    display: block;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 10s;
}